{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}

{% block main-content %}
<div class="container py-5" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-3">
            <h3>Welcome, <span class="text-capitalize">{{request.user}}</span></h3>
            <hr class="my-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'profile' %}" class="btn btn-light w-100">Profile</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'address' %}" class="btn btn-dark w-100">Address</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            {% if addr %}
            <div class="row">
                {% for ad in addr %}
                <div class="col-sm-6">
                    <div class="card m-2">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Locality: {{ad.locality}}</p>
                            <p>Mobile: {{ad.mobile}}</p>
                            <p>City: {{ad.city}}</p>
                            <p>State: {{ad.state}}</p>
                            <p>Pincode: {{ad.zipcode}}</p>
                            <p class="text-center">
                                <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-dark">
                                    Update</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                You have no saved addresses.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main-content %}
