{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="alert alert-success text-center" role="alert"  style="margin-top: 80px;">
                <h3 class="mb-4">Reset Link Sent!!</h3>
                <p class="mb-0">An email has been sent with instructions to reset your password. 
                 <br><b>Please check your email</b>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
